<h1>Create a New Event</h1>

<%= form_with(model: @event, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  
  <%= form.label :description %>
  <%= form.text_area :description %><br><br>
  
  <%= form.label :start_date %>
  <%= form.datetime_field :start_date %><br><br>
  
  <%= form.label :end_date %>
  <%= form.datetime_field :end_date %><br><br>
  
  <%= form.label :city %>
  <%= form.text_field :city %><br><br>

   <%= form.label :image %>
   <%= form.file_field :image %><br><br>
  
  <%= form.submit "Create Event" %><br>
<% end %><br>

<%= link_to "Back to Events", events_path %>
